body { 
    font-family: Arial, sans-serif; }
h1{ 
    text-align: center; 

}
h2 { 
    text-align: center;
 }
table { 
    width: 80%; 
    margin: auto; 
    border-collapse: collapse; 
}
th, td { 
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: center; 
}
th { 
    background-color: #224afd;
 }

/* Botón de envío */
button {
    padding: 12px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #0041a3;
    transform: translateY(-2px);
}

button:active {
    background-color: #003383;
    transform: translateY(1px);
}

