body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 30px;
    text-align: center;
    z-index: 1000;
}

header nav {
    background: #224afd;
    overflow: hidden;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

header nav ul li a:hover {
    background-color: #75acec;
}

header a img {
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: 100px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

section.main {
    padding-top: 30px;
    padding-bottom: 1100px;
    padding-left: 20px;
    padding-right: 20px;
}

.main .articulos {
    width: 68.5%;
    float: left;
    margin-right: 1.5%;
}

aside {
    width: 20%;
    float: left;
    background: hsl(200, 57%, 65%);
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}

.img-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.img-container img {
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.img-container .text-overlay {
    position: absolute;
    bottom: 10;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 20px;
}

.img-container:hover .text-overlay {
    opacity: 1;
}

.contacto {
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.contacto h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.carousel-container {
    width: 70%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    width: 400%;
    animation: slide 20s infinite;
}

.carousel-item {
    width: 100%;
    flex: 1 0 100%;
    text-align: center;
}

.carousel-item img {
    width: 60%;
    height: 400px;
    border-radius: cover;
    border-radius: 10px;
}

/* Animación del carrusel */
@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}

       
