*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(232, 223, 255);
}

header{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;   
}

header , .main , footer{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav{
    background: hsl(229, 90%, 51%);
    overflow: hidden;
    justify-content: center;
    display: flex;
}

header nav ul{
    list-style: none;
}

header nav ul a{
    text-decoration: none;
    float: left;
}

header nav ul li{
    text-decoration: none;
    float: left;
}

header nav ul li a{
    float: left;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    background: rgb(54, 109, 228);  
}

.main .articulos{
    width: 68.5%;
    float: left;
    margin-right: 1.5%;
}

aside{
    width: 30%;
    float: left;
    background: #c5cef7;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
}

.main .articulos article{
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

footer{
    clear: both;
    background: #4665f0;
    color: black;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-align: center;
}